<div id="formDiv">
<form>
<input class="input" type="text" placeholder="Title of Soundscape" name="soundscapeTitle" ng-model="soundscape.title"><br/>

<input  class="input" type="text" placeholder="Description" name="soundscapeDescription" ng-model="soundscape.description">



<section ng-controller="spotifyData">

<input class="input" type="text" ng-model="search" placeholder="Search for A Track"><br/>

<button ng-click="findTracks()">Search Tracks </button> <br/>

<div ng-repeat="info in trackInfo" id="musicTracks">
<a href="#/addScape" ng-click="getOneSong(info)"><img ng-src="{{info.image}}" width="75px"/>
<span class="individualTrack">
<span> {{info.albumName}}</span>
<span> {{info.artist}}</span>
</a>
</span>
</div>
<p > {{denied}}</p>

</section>

<a href="#/scapes"> <button type="submit" ng-click="saveSoundscape(soundscape)" id="endButton" >Add to Soundscape</button> </a>
</form>


</div>
