
<h1>Testing...</h1>
<button type="submit" ng-click="savePlaylist(playlist)">Add to playlist</button>

<!-- <button type="button" ng-click="printPlaylist(element)">This is the other button</button> -->

<form>
<input type="text" placeholder="Artist" name="artistName" ng-model="source.artist">

<input type="text" placeholder="Song Title" name="songTitle" ng-model="source.song">

<input type="text" placeholder="Playlist Name" name="playlistName" ng-model="source.playlist">

<!-- <input type='file' ng-model="source.img"/>
<img id="myImg" src="#" alt="your image" /> -->




</form>
