
<h1>Testing...</h1>


<!-- <button type="button" ng-click="printPlaylist(element)">This is the other button</button> -->

<form>
<input type="text" placeholder="Title of Soundscape" name="soundscapeTitle" ng-model="soundscape.title">

<input type="text" placeholder="Description" name="soundscapeDescription" ng-model="soundscape.description">

<input type="text" placeholder="Img" name="soundscapeImg" ng-model="soundscape.image">


<section ng-controller="data">

<input type="text" ng-model="search">

<button ng-click="findTracks()" >Search Tracks </button> 

<div ng-repeat="info in trackInfo">
<a href="#/addScape" ng-click="findOneObject(info)"><img ng-src="{{info.image}}" width="75px"/>
<span>
<p> {{info.albumName}}</p>
<p> {{info.artist}}</p>
</a>
</span>
</div>
<p > {{denied}}</p>

</section>

</form>





<button type="submit" ng-click="savePlaylist(playlist)" id="endButton">Add to playlist</button>
