/*GLOABL PROPERTIES*/
/*
*{
    margin: 0 auto;
    padding:0;
}
*/

/*BODY PROPERTIES*/

body {
    background-color: rgba(47, 79, 79, 0.73);
}


/*MAP PROPERTIES*/

#map {
    width: 80%;
    height: 500px;
    border-radius: 5px;
    left: 10%;
    top: 120px;
    box-shadow: -16px 7px 146px -22px black;
}



/*TITLE PROPERTIES*/

#title {
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    background-color:rgba(184, 134, 11, 0.51);
    width: 40%;
    min-height: 30px;
    padding: 5px;
    color:rgba(255, 69, 0, 0.45);
    font-size: 2em;
    font-family: Galada, cursive;
    text-align: center;
    left: 30%;
}


/*DESCRIPTION PROPERTIES*/

#description {
    position: relative;
    left: 39%;
    width: 24%;
    text-align: center;
    font-family: lobster, cursive;
}


/* TEST NAV PROPERTIES*/
#testNav {
    position: relative;
    top: 30px;
    left: 42%;
    font-size: 1.5em;
    width: 18%;
    text-align: center;
    font-family: Racing sans one, monospace;
}



/*NAV PROPERTIES*/
.nav{
    position: relative;
    margin:10px;
    padding: 5px;
}
.nav:hover { 
    color:lightgray;
    
}