/*GLOABL PROPERTIES*/
/*
*{
    margin: 0 auto;
    padding:0;
}
*/

/*BODY PROPERTIES*/

body {
    background-color: rgb(206, 222, 227); 
}

a {
    color:rgb(74, 117, 130);
    text-decoration: none;
}

/*MAP PROPERTIES*/

#map {
    width: 80%;
    height: 500px;
    border-radius: 5px;
    left: 10%;
    top: 120px;
    box-shadow: -16px 7px 146px -22px black;
}



/*TITLE PROPERTIES*/

#title {
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(61, 66, 67, 0.8);
    letter-spacing: .1em;
    width: 40%;
    min-height: 30px;
    padding: 5px;
    color:rgb(230, 230, 230);
    font-size: 2em;
    font-family: Galada, cursive;
    text-align: center;
    left: 30%;
}


/*DESCRIPTION PROPERTIES*/

#description {
    position: relative;
    left: 39%;
    width: 24%;
    text-align: center;
    font-family: lobster, cursive;
    color: rgba(61, 66, 67, 0.8);
}

iframe {
    
}

/* TEST NAV PROPERTIES*/
#testNav {
    position: relative;
    top: 30px;
    left: 35%;
    font-size: 1.5em;
    width: 30%;
    text-align: center;
    font-family: Racing sans one, monospace;
}



/*NAV PROPERTIES*/
.nav{
    position: relative;
    margin:10px;
    padding: 5px;
}
.nav:hover { 
    color: rgb(89, 89, 89);
    
}

.input{border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
}
/*div{width:50%;
float:left;}
img{float:left;
margin: 2%;}
span{font-size: 12px;
    font-family: arial;
    float:left;}*/
